/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Aproveite para centralizar tudo no corpo da página */
body, html {
  height: 100%;
  background-color: #f8f9fa;
}

.picker-dialog {
    z-index: 105000 !important;
}

.picker-dialog-bg {
    z-index: 104999 !important;
}